<!DOCTYPE html>
<html>
<head>
	<title>Dusuk Butceli Twitter</title>

</head>
<body >

	<div>
		<h1>Bu Gun nasıl Hissediyorsun {{session.user}}</h1>
	</div>

	<form action="/create" method="post">
		<input type="text" name="text">
		<input type="submit" value="Post At">
	</form>

	<ul>
		{%	for p in post %}
		<li><span>{{ p.text }} ({{p.time | datetimefilter}})</span>&nbsp;<a href="/delete?id={{ loop.index }}">×</a>

			{{p.user}}
		</li>

		{% endfor %}
	</ul>

	<form action="/logout">
		<input type="submit" value="Log Out" style="float: left" >
	</form>

	<form action="/">
		<input type="submit" value="Back MainPage" style="float: left" >
	</form>

</body>
</html>