<!DOCTYPE html>
<html>
<head>
	<title>Twitter/Sign In</title>
</head>
<body>
<div style="float: left;">
	<h5>Twittera Bugün Katıl</h5>
	<form action="/add_user" method="post">
		<input type="text" name="name" placeholder="Ad" style="display: block;" required>
		<input type="text" name="surname" placeholder="Soyad" style="display: block;" required>
		<input type="password" name="password" placeholder="Sifre" style="display: block;" required>
		<input type="text" name="email" placeholder="E-mail" style="display: block;" required>
		<input type="submit" value="Sign up" style="display: block; width: 250px" required>
	</form>
</div>

<div style="float: left; margin-left: 50px">
	<h5>Oturum açın</h5>
	<form action="/sign_in" method="post">
		<input type="text" name="id" placeholder="email" style="display: block;" required="">
		<input type="password" name="password" placeholder="Sifre" style="display: block;" required="">
		<input type="submit" value="Sign in" style="display: block; width: 250px" required>

	</form>

</div>

</body>
</html>